mixin link-list(data, gray)
  -var addClass = (gray) ? "_gray" : "_white"
  +b.UL.link-list&attributes(attributes)
    each item in data
      +e.LI.item
        +link(href=item.link class=addClass + item.class + " js-anchor")!= item.name

mixin link-list-big(data)
  +b.UL.link-list_big&attributes(attributes)
    each item in data
      +e.LI.item
        +link(href=item.link class="_white js-link-info js-link-hover" data-trainer-count=item.count)!= item.name
