.link-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__item {

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    .link__text {
      @include heading-2-text;
      text-transform: uppercase;
    }

    .link.active {

      .link__text {
        color: $color-red;
      }
    }
  }

  &_big {

    .link-list {

      &__item {
        width: 100%;
        box-sizing: border-box;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        .link {
          max-width: 100%;
        }

        .link__text {
          display: inline-block;
          @include ellipsis(100%);
          @include heading-1;
        }
      }
    }
  }
}
