.header {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  pointer-events: none;
  z-index: 10;

  @include screen('tablet') {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  @include screen('desktop') {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  @include screen('desktop-wide') {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__logo {
    pointer-events: all;

    @include screen('tablet', max) {
      width: 10 * $grid-col-width;
    }
  }

  &__search {
    transition: opacity $ease-main;
    pointer-events: all;

    @include screen('tablet', max) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 8 * $grid-col-width;
    }
  }

  &__news {
    pointer-events: all;

    @include screen('tablet', max) {
      text-align: right;
      width: 10 * $grid-col-width;
    }
  }

  &__socials {
    pointer-events: all;

    @include screen('tablet', max) {
      position: relative;
      width: 0;
    }
  }

  .logo {
    margin-top: -2px;

    @include screen('tablet') {
      margin-top: -4px;
    }
  }

  .search-button {
    @include screen('tablet', max) {
      margin: 0 12px;
    }

    margin-right: 12px;
  }

  .socials {
    @include screen('tablet', max) {
      position: absolute;
      top: 54px;
      right: 0;
      margin-top: 0;
    }

    margin-top: -4px;
  }

  &_mobile-logo {
    .socials {

      @include screen('tablet', max) {
        display: none;
      }
    }
  }

  &_abs {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.js-z601 {
    z-index: 601;
  }
}
