mixin header(logo)
  - var addClass = ""
  - if (logo) {addClass = "_mobile-logo" } else { addClass = "" }
  +b(class="header" + addClass)&attributes(attributes)
    +container
      +col(7).header__logo
        +logo
      +col(8).header__search
        +search-button.js-fancybox(href="#search" data-src="#search")
      +col(8).header__news
        +navigation-link(href="news.html") НОВОСТИ
        +navigation-link(href="news.html") Статьи
      +col(7).header__socials
        +socials4._vertical
