.header {
  display: block;
  padding-top: (1/16) * 100vh;
  width: 100%;

  &__logo {
    @include screen('tablet', max) {
      width: 10 * $grid-col-width;
    }
  }

  &__search {
    @include screen('tablet', max) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 8 * $grid-col-width;
    }
  }

  &__news {
    @include screen('tablet', max) {
      text-align: right;
      width: 10 * $grid-col-width;
    }
  }

  &__socials {
    @include screen('tablet', max) {
      position: relative;
      width: 0;
    }
  }

  .logo {
    margin-top: -2px;

    @include screen('tablet') {
      margin-top: -4px;
    }
  }

  .search-button {
    @include screen('tablet', max) {
      margin: 0 12px;
    }

    margin-right: 12px;
  }

  .socials {
    @include screen('tablet', max) {
      position: absolute;
      top: calc((1/8) * 100vh - 4px);
      right: 0;
      margin-top: 0;
    }

    margin-top: -4px;
  }

  &_mobile-logo {
    .search-button,
    .navigation-link,
    .socials {

      @include screen('tablet', max) {
        display: none;
      }
    }
  }
}
