.copyright {
  display: block;
  font-size: 18px;
  letter-spacing: .033em;
  padding-left: 12px;
  width: 100%;
  text-align: right;

  &__text {
    display: inline-block;
    color: $color-warm-gray;

    &_mhidden {
      @include screen('tablet', max) {
        font-size: 0;
      }
    }
  }
}
