.copyright {
  display: block;
  font-size: $size-smaller;
  letter-spacing: .033em;
  width: 100%;
  text-align: right;

  &__text {
    display: inline-block;
    color: $color-warm-gray;
    margin-left: 3px;

    &_mhidden {
      @include screen('tablet', max) {
        font-size: 0;
      }
    }
  }
}
