mixin trainers-list()
  +b.UL.trainers-list&attributes(attributes)
    +e.LI.item
      +trainer('assets/images/avatar_7.jpg', 'assets/images/brand_wall_1.jpg', '1490&nbsp;Р', 'Милана', 'Шнайдер')(href="user.html")
    +e.LI.item
      +trainer('assets/images/avatar_3.jpg', 'assets/images/brand_wall_3.jpg', '1590&nbsp;Р', 'Михаил', 'Волков')(href="user.html")
