mixin trainers-list()
  +b.UL.trainers-list&attributes(attributes)
    +e.LI.item
      +trainer('', '', '1490&nbsp;Р', 'Милана', 'Шнайдер')(href="user.html")
    +e.LI.item
      +trainer('', '', '1590&nbsp;Р', 'Михаил', 'Волков')(href="user.html")
