.trainers-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0;
  margin-top: -28px;

  @include screen('phone') {
    margin: -48px -22.5px 0;
  }

  @include screen('desktop-wide') {
    margin: -48px -30px 0;
  }

  &__item {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-top: 28px;

    @include screen('phone') {
      width: 50%;
      padding: 48px 22.5px 0;
    }

    @include screen('desktop') {
      width: 33.33%;
    }

    @include screen('desktop-wide') {
      padding: 48px 30px 0;
    }
  }

  &_short & {

    &__item {

      @include screen('phone') {
        width: 50%;
        padding: 48px 22.5px 0;
      }

      @include screen('desktop-wide') {
        padding: 48px 30px 0;
      }
    }
  }

  &_search {
    justify-content: center;

    @include screen('phone') {
      margin: -48px -22.5px 0;
    }

    @include screen('desktop-wide') {
      margin: -60px -30px 0;
    }
  }

  &_search & {

    &__item {

      @include screen('phone') {
        width: 50%;
        padding: 48px 22.5px 0;
      }

      @include screen('tablet') {
        width: 33.33%;
      }

      @include screen('desktop') {
        width: 25%;
      }

      @include screen('desktop-wide') {
        padding: 60px 30px 0;
      }
    }
  }
}
