.location-popup {
  position: relative;
  display: none;
  width: 100vw;
  margin-bottom: -92px;
  z-index: 500;

  @include screen('tablet') {
    margin-bottom: calc(-25vh + 4px);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba($color-black, .4);
    transition: opacity .5s ease-in-out;
  }

  &__content {
    position: relative;
    margin: 10px 10px 0;
    width: calc(100% - 20px);
    //height: calc(100vh - 70px);
    padding: 20px 30px 88px;
    //max-height: 558px;
    background: $color-red;
    z-index: 2;
    box-sizing: border-box;

    @include screen('tablet') {
      margin: 36px 36px 0;
      width: calc(100% - 72px);
      padding: 25px calc(12.5vw - 36px) 136px;
      //max-height: none;
      //height: 428px;
    }

    @include screen('desktop') {
      //height: 356px;
    }

    .grid-inner {
      margin-top: 0;
    }
  }

  &__wrapper {
    /*max-height: 50vh !important;

    @include screen('tablet-small') {
      max-height: 370px !important;
    }

    @include screen('tablet') {
      max-height: 150px !important;
    }*/
  }

  &__selected, &__regions {
    @include screen('desktop', max) {
      width: 100%;
    }
  }

  &__regions {
    padding-top: 24px;

    @include screen('tablet') {
      padding-top: 38px;
    }

    @include screen('desktop') {
      padding-top: 46px;
    }
  }

  &__selected {

    @include screen('desktop-wide') {
      padding-top: 46px;
    }

    .location-link {
      box-sizing: border-box;

      @include screen('desktop', max) {
        width: (1/3)*100%;
        padding: 0 22.5px;
        margin-left: -22.5px;
      }

      @include screen('tablet', max) {
        width: 100%;
        padding: 0;
        margin-left: 0;
      }
    }
  }

  &__angle {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%) rotate(45deg);
    background: $color-red;
  }

  &.is-active {

    .location-popup {

      &__overlay {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
