extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.sitemap
    +container
      +col(30)
        .sitemap__list
          +link(href="ui-kit.html")._white UI-kit (ui-kit.html)
          +link(href="index.html")._white Главная (index.html)
          +link(href="user.html")._white Страница тренера (user.html)
          +link(href="news.html")._white Новости (news.html)
          +link(href="news-page.html")._white Новостная статья (news-page.html)
