@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.js-sr {
  visibility: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;

  &_onescreen {
    height: 100vh;
  }
}

.page-content {
  width: 100%;
}

.js-sidebar{
    will-change: min-height;
}

.js-sidebar-inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}


