.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .075em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 12px;

  @include screen('tablet') {
    margin-left: 0;
    margin-right: 12px;
  }
}
