.input {
  padding: 0 0 12px;
  border: 0;
  border-bottom: 2px solid $color-border;
  width: 100%;
  box-sizing: border-box;
  font-size: $size-normal;
  line-height: 1.35;
  border-radius: 0;
  min-height: 0;
  background-color: transparent;
  font-weight: 300;
  letter-spacing: .019em;

  &:focus, &:hover {
    border-color: $color-basic;
  }
}

.inputbox {
  display: block;
}

.textarea {
  @extend .input;

  padding-bottom: 12px;
  min-height: 49px;
  resize: vertical;
}

.checkradio {
  position: relative;
  padding-left: 50px;
  display: inline-block;
  cursor: pointer;

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      & + .checkradio__box {
        &::before { opacity: 1; }
      }
    }
  }

  &__box {
    position: absolute;
    width: 26px;
    height: 26px;
    border: 2px solid $color-basic;
    left: 0;
    top: 2px;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background-color: $color-red;
      display: block;
      opacity: 0;
      transition: opacity $ease-main;

      @include center-image;
    }
  }

  &__content {
    @include text;
    font-weight: 300;
    letter-spacing: .009em;
  }
}

// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: table;
  width: 100%;

  &__button {
    border: 2px solid $color-border;
    width: 40px;
    display: table-cell;
    font-size: $size-normal;
    font-family: monospace;
    cursor: pointer;
    text-align: center;

    &:hover::before, &:hover::after { opacity: .5; }

    &::before, &::after { transition: opacity $ease-main; }

    &:first-child::before { content: '-'; }

    &:last-child::before { content: '+'; }
  }

  &__input {
    flex: 1;
    border: 0;
    text-align: center;
    display: table-cell;
  }
}

// #####
// Кастомные селекты
// #####

@import '../../../node_modules/choices.js/assets/styles/scss/choices.scss';

.select {
  appearance: none;

  @extend .input;
}

.choices {
  margin-bottom: 0;

  &__inner, &[data-type*='select-one'] &__inner {
    @extend .select;

    transition: border-color $ease-main;
  }

  &[data-type*='select-one'] {

    .choices__inner {
      padding: 0 0 12px;
    }

    &::after {
      border-width: 6px 4px 0;
      top: 0;
      bottom: 12px;
      right: 8px;
      margin: auto;
      transform: rotate(0) translate3d(0, 0, 0);
      transition: transform $ease-main;
      border-color: $color-red transparent transparent;
    }

    &.is-open::after {
      transform: rotate(180deg) translate3d(0, 0, 0);
      border-color: $color-red transparent transparent;
      margin: auto;
    }
  }

  &__placeholder {
    font-weight: 300;
    letter-spacing: .019em;
    font-size: $size-normal;
    line-height: 1.35;
    color: $color-placeholder;
    opacity: 1;
  }

  &__list {
    border-color: $color-gray;

    &--single {
      display: table;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding-right: 20px;

      .choices__item {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &--dropdown {
      box-sizing: border-box;
      border: none;
      background-color: $color-gray;
      padding: 6px;
      width: calc(100% + 48px);
      transform: translateX(-24px);

      .choices__list {
        width: calc(100% + 22px);
        max-height: 334px;
      }

      .choices__item {
        padding: 9px 28px 16px 18px;
        font-size: $size-normal;
        font-weight: 300;
        letter-spacing: .019em;
        line-height: 1.35;

        &--selectable {
          transition: opacity $ease-main;

          &.is-highlighted {
            background-color: $color-red;
          }
        }
      }

      &::after {
        @include pseudo;
        height: 100%;
        width: 6px;
        top: 0;
        right: 0;
        background-color: $color-gray;
      }
    }
  }

  &.is-open & {

    &__inner { border-color: $color-border; }

    &__list {
      &--dropdown { border-color: $color-border; }
    }

    &__inner, &[data-type*='select-one'] &__inner {
      border-color: transparent;
    }
  }

  &.is-open.is-focused & {
    &__inner, &[data-type*='select-one'] &__inner {
      border-color: transparent;
    }
  }
}

// #####
// Range-слайдер
// #####

.range {
  display: inline-block;
  width: 100%;
}

.range .noUi {

  &-base {
    height: 2px;
    background-color: $color-border;
    position: relative;
    margin: 8px 0; // margin нужен, чтобы handler не налезал на другие элементы
  }

  &-connect {
    height: 100%;
    position: absolute;
    background-color: $color-main;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    border: 1px solid $color-border;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
    transition: border-color $ease-main;
    cursor: pointer;

    &:hover { border-color: $color-main; }
  }

  &-origin {
    position: absolute;
    top: 0;
    height: 100%;
  }
}

// #####
// Календарь
// #####

@import '../../node_modules/air-datepicker/dist/css/datepicker.css';

.js-datepicker { cursor: pointer; }

.datepicker {
  color: $color-basic;
  font-size: $size-small;
  width: 250px;
  background: $color-main;
  border: 2px solid $color-border;
  box-shadow: 0 4px 6px rgba($color-basic, .15);
  border-radius: 0;
  transition: opacity $ease-main, transform $ease-main, left 0s $ease-main;
  font-family: $font-main;

  &.-from-bottom- {
    transform: translateY(8px);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $ease-main, transform $ease-main, left 0 0;
  }
}

// Стрелочка сверху над блоком

.datepicker--pointer {
  border-top-color: $color-border;
  border-right-color: $color-border;
}

// Цвет дней недели

.datepicker--day-name {
  color: $color-basic;
}

// Ячейка со стрелкой

.datepicker--nav-action {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет стрелок
  path { stroke: $color-basic; }
}

// Шапка календаря

.datepicker--nav {
  border-color: $color-border;

  // Ячейка с заголовком месяца/года

  &-title {
    border-radius: 0;
    transition: color $ease-main, background-color $ease-main;

    // Цвет года в шапке

    i { color: rgba($color-basic, .5); }
  }
}

// Цвет ховера по ячейкам в календаре, шапке

.datepicker--cell.-focus-, .datepicker--nav-action:hover, .datepicker--nav-title:hover {
  background: rgba($color-border, .3);
}

// Стиль ячейки

.datepicker--cell {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет сегодняшнего даты/месяца

  &.-current- {
    color: $color-main;
    background: rgba($color-red, .1);
  }

  // Ховер по активной дате

  &.-selected-.-focus- {
    background: rgba($color-red, .8);
  }

  // Неактивная ячейка

  &.-disabled- {
    color: rgba($color-basic, .3);
  }

  // Цвет фона активного месяца/дня

  &.-selected-, &.-selected-.-current- {
    background: $color-main;
  }
}

// Цвет даты другого месяца/года

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: rgba($color-basic, .2);

  &:hover { color: rgba($color-basic, .5); }
}

// Стили при выборе диапазона дат

.datepicker--cell.-range-to-, .datepicker--cell.-range-from- {
  border: 0;
  background-color: rgba($color-main, .3);

  &.-selected- {
    background-color: $color-red;
  }
}

.datepicker--cell.-range-from- {
  border-radius: 3px 0 0 3px;
}

.datepicker--cell.-range-to- {
  border-radius: 0 3px 3px 0;
}

// Стили ячеек другого месяца, находящихся в диапазоне

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba($color-main, .1);
  color: rgba($color-main, .3);

  &.-focus- {
    background-color: rgba($color-main, .2);
  }
}

// Стили промежуточных ячеек в диапазоне

.datepicker--cell.-in-range- {
  background: rgba($color-red, .2);
  color: $color-main;
  border-radius: 0;

  &.-current- {
    color: $color-basic;
  }

  &.-focus- {
    background: rgba($color-red, .3);
  }
}
