.error-banner {
  position: fixed;
  top: 10px;
  left: 10px;
  display: block;
  width: calc(100% - 20px);
  padding: 20px 24px;
  box-sizing: border-box;
  background: $color-red;
  opacity: 0;
  pointer-events: none;
  transition: all $ease-main;
  z-index: 20;

  @include text-small;
  text-align: center;
  letter-spacing: .035em;

  @include screen('tablet') {
    top: 36px;
    left: 36px;
    width: calc(100% - 72px);
  }

  &.active {
    opacity: 1;
  }
}
