.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  padding-bottom: 32px;
  width: 100%;
  margin-top: auto;

  @include screen('tablet') {
    padding-bottom: 44px;
  }

  @include screen('desktop') {
    padding-bottom: 52px;
  }

  @include screen('desktop-wide') {
    padding-bottom: 62px;
  }

  .brushes {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    z-index: 1;
  }

  .grid__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__contacts {
    @include screen('tablet', max) {
      width: 14 * $grid-col-width;
    }
  }

  &__logo {
    @include screen('desktop-small', max) {
      width: 9 * $grid-col-width;
    }

    @include screen('tablet', max) {
      width: 0;
    }

    @include screen('desktop-wide') {
      width: 9 * $grid-col-width;
    }
  }

  &__addus {
    @include screen('desktop-small', max) {
      width: 5 * $grid-col-width;
    }

    @include screen('tablet', max) {
      width: 0;
    }

    @include screen('desktop-wide') {
      width: 7 * $grid-col-width;
    }
  }

  &__copyright {
    @include screen('desktop-small', max) {
      width: 9 * $grid-col-width;
    }

    @include screen('tablet', max) {
      width: 14 * $grid-col-width;
    }
  }

  .logo,
  .navigation-link {
    @include screen('tablet', max) {
      display: none;
    }
  }

  .container {
    z-index: 2;
  }

  &_fixed {
    pointer-events: none;
    position: relative;

    @include screen('tablet') {
      position: fixed;
      bottom: 0;
      left: 0;
    }

    .contacts {
      pointer-events: all;
    }
  }

  &_mcontacts {

    .footer {
      &__logo, &__addus, &__copyright {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
