mixin footer(nobrush)
  +b.footer&attributes(attributes)
    - if(!nobrush) {
      +brushes
    - }
    +container
      +col(7).footer__contacts
        +contacts
      +col(12).footer__logo
        +logo
      +col(4).footer__addus
        +navigation-link(href="addtrainer.html") Стать трейнером
      +col(7).footer__copyright
        +copyright

mixin footer-contacts(nobrush)
  +b.footer_mcontacts&attributes(attributes)
    - if(!nobrush) {
      +brushes
    - }
    +container
      +col(7).footer__contacts
        +contacts
      +col(23).footer__empty
