mixin upload(size, resolution)
  +b.upload(data-correct-size=size data-correct-resolution=resolution)&attributes(attributes)
    +e.LABEL.dropzone
      +e.mark
        +icon('upload').icon
      +input(type="file" name="file[]")
      +e.IMG(src="").image
    +e.conditions
      block
