.upload {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  @include screen('desktop') {
    flex-wrap: nowrap;
  }

  .input[type="file"] {
    display: none;
  }

  &__dropzone {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $color-gray;
    cursor: pointer;
    margin-right: 30px;
    width: 249px;
    height: 120px;
    overflow: hidden;

    &::before {
      @include pseudo;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-main, .2);
      z-index: 2;
    }

    &__image {
      @include fill-img;
      display: none;
      z-index: 1;
    }
  }

  &__mark {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
  }

  &__icon {
    width: 20px;
    height: 20.4px;
    fill: $color-red;
  }

  &__conditions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 8px 0;

    @include text-smaller;
    line-height: 1.44;
    letter-spacing: .033em;
    color: $color-placeholder;
  }

  &__hidden {
    display: none;

    &.error {
      display: inline-block;
    }
  }

  & .error {
    color: $color-red;
  }

  &_round {

    .upload {

      &__dropzone {
        min-width: 0;
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
    }
  }

  &.preload {
    .upload {

      &__dropzone::before {
        display: block;
      }

      &__image {
        display: block;
      }
    }
  }
}
