mixin upload(size, resolution)
  +b.upload&attributes(attributes)
    +e.LABEL.dropzone
      +e.mark
        +icon('upload').icon
      +input(type="file" name="file[]" data-correct-size=size data-correct-resolution=resolution)
    +e.conditions
      block
