extends ../../layouts/onescreen

block head
  - var pageTitle = 'Protrener - Главная'

block content
  +banner._fixed
  +b.index
    +page-section
      +col(24).container__inner
        +sport-navigation
