mixin article()
  +b.article&attributes(attributes)
    +e.media
      +container-narrow
        +col(24).container__inner
          +e.promo
            +e.IMG(src="assets/images/news_bg.jpg").image
    +e.content
      +container-narrow
        +col(24).container__inner
          +e.header
            +e.field
              +e.TIME.date 12.05.17
            +e.main
              +e.H1.title Возняцки победила Халеп в финале Australia Open
          +content-zone.article__text
            +e.P Датская теннисистка Каролин Возняцки стала победительницей Открытого чемпионата Австралии по&nbsp;теннису. В&nbsp;женском финале она обыграла румынку Симону Халеп со&nbsp;счетом 7:6 (7:2), 3:6, 6:4. Встреча продолжалась 2&nbsp;часа 53&nbsp;минуты
            +e.P Датская теннисистка Каролина Возняцки стала победительницей Открытого чемпионата Австралии. В&nbsp;финальном матче посеянная под вторым номером Возняцки обыграла румынку Симону Халеп, занимавшую первое место в&nbsp;рейтинге Женской теннисной ассоциации (WTA).
            +e.P Встреча продолжалась 2&nbsp;часа 53&nbsp;минуты и&nbsp;завершилась со&nbsp;счетом 7:6 (7:2), 3:6, 6:4. Во&nbsp;втором сете Халеп почувствала себя плохо: жара в&nbsp;Мельбурне по-прежему превышает 30&nbsp;градусов по&nbsp;Цельсию. И&nbsp;хотя румынской теннисистске удалось выиграть этот сет, она в&nbsp;конечном счете все&nbsp;же уступила в&nbsp;поединке.

