.catalog {
  display: block;

  &:last-child {
    @include screen('tablet', max) {
      margin-bottom: 5px;
    }
  }

  &:not(:first-child) {

    @include screen('tablet', max) {
      padding-top: 20px;
    }

    @include screen('desktop-wide') {
      padding-top: 55px;
    }
  }

  &__navigation {
    @include screen('desktop', max) {
      width: (1/3)*100%;
    }

    @include screen('tablet', max) {
      display: none;
    }

    .link-list__item:not(:last-child) {

      @include screen('tablet') {
        margin-bottom: 5px;
      }

      @include screen('desktop') {
        margin-top: -6px;
        margin-bottom: 10px;
      }
    }
  }

  &__content {
    @include screen('desktop', max) {
      width: (2/3)*100%;
    }

    @include screen('tablet', max) {
      width: 100%;
    }
  }

  &__short-list {
    @include screen('desktop', max) {
      width: 100%;
      order: 2;
    }
  }

  &__main-list {
    margin-top: 0;
  }

  &__banner {

    @include screen('desktop', max) {
      width: 100%;
    }

    @include screen('tablet', max) {
      display: none;
    }

    .banner {
      height: 100%;
    }
  }

  &__mbanner {
    margin-top: 44px;
  }

  &__text {
    margin: 40px 0;

    @include screen('tablet') {
      margin: 64px 0;
    }

    @include screen('desktop') {
      margin: 90px 0 58px;
    }
  }
}
