.button {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid $color-red;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-basic;
  background-color: transparent;
  transition: opacity $ease-main;
  cursor: pointer;
  font-size: $size-small;
  letter-spacing: .075em;
  text-transform: uppercase;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active { opacity: .5; }
}
