.brushes {
  display: block;
  width: 100%;

  &__item {
    position: relative;
    overflow: hidden;

    &_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 203px;
      background: url('../images/grey_brush.svg') calc(100% - (1/16)*100vw) 0 no-repeat;
      background-size: contain contain;
      z-index: 1;

      @include screen('tablet-small') {
        width: 64%;
        background-position: 100% 0;
        background-size: 100% contain;
      }

      @include screen(desktop) {
        background-size: 100% auto;
      }
    }

    &_top {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 104px;
      z-index: 10;
      background: url('../images/red_brush.svg') (1/16)*100vw 0 no-repeat;
      background-size: contain contain;

      @include screen('tablet-small') {
        width: 68%;
        background-position: 0 0;
        background-size: 100% contain;
      }

      @include screen(desktop) {
        background-size: 100% auto;
      }
    }
  }

  &_full {
    padding-top: 203px;

    @include screen('desktop') {
      padding-top: 14.1%;
    }

    .brushes {

      &__item {
        overflow: visible;

        &_top {
          @include screen('desktop') {
            padding-top: 7.2%;
            height: auto;
          }
        }

        &_bottom {
          @include screen('desktop') {
            padding-top: 14.1%;
            height: auto;
          }
        }
      }
    }
  }
}
