.brushes {
  display: block;
  width: 100%;
  pointer-events: none;

  &__item {
    position: relative;
    overflow: hidden;

    &_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 203px;
      background: url('../images/grey_brush.svg') calc(100% - (1/16)*100vw) 0 no-repeat;
      background-size: contain contain;
      z-index: -1;

      @include screen('tablet') {
        width: 64%;
        background-position: 100% 0;
        background-size: 100% contain;
      }

      @include screen(desktop) {
        background-size: 100% auto;
      }
    }

    &_top {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 104px;
      z-index: 10;
      background: url('../images/red_brush.svg') (1/16)*100vw 0 no-repeat;
      background-size: contain contain;

      @include screen('tablet') {
        width: 68%;
        background-position: 0 0;
        background-size: 100% contain;
      }

      @include screen(desktop) {
        background-size: 100% auto;
      }
    }
  }

  &_animate {

    .brushes {

      &__item {

        &_bottom {
          background: none;
          overflow: hidden;

          .brushes__icon {
            position: absolute;
            display: block;
            top: 0;
            right: (1/16)*100vw;
            width: 921px;
            height: 203px;

            @include screen('tablet') {
              right: 0;
              min-height: 203px;
              height: auto;
              min-width: 100%;
            }
          }
        }

        &_top {
          background: none;
          overflow: hidden;

          .brushes__icon {
            position: absolute;
            display: block;
            top: 0;
            left: (1/16)*100vw;
            width: 979px;
            height: 104px;

            @include screen('tablet') {
              left: 0;
              min-height: 104px;
              height: auto;
              min-width: 100%;
            }
          }
        }
      }
    }
  }

  &_full {
    padding-top: 203px;

    @include screen('desktop') {
      padding-top: 14.1%;
    }

    .brushes {

      &__item {
        overflow: visible;

        &_top {
          @include screen('desktop') {
            padding-top: 7.2%;
            height: auto;
          }
        }

        &_bottom {
          @include screen('desktop') {
            padding-top: 14.1%;
            height: auto;
          }
        }
      }
    }
  }

  &_nodesktop {
    @include screen('desktop') {
      display: none;
    }
  }

  &_notablet {
    @include screen('tablet') {
      display: none;
    }
  }

  &_layers {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;

    @include screen('tablet', max) {
      display: none;
    }
  }
}
