.location-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  @include screen('tablet') {
    margin: 0 -22.5px;
  }

  @include screen('desktop-wide') {
    margin: 0 -30px;
  }

  &__item {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;

    &:nth-child(3n + 1) {
      @include screen('tablet', max) {
        order: 1;
      }
    }

    &:nth-child(3n + 2) {
      @include screen('tablet', max) {
        order: 2;
      }
    }

    &:nth-child(3n + 3) {
      @include screen('tablet', max) {
        order: 3;
      }
    }

    @include screen('tablet') {
      width: 33.33%;
      padding: 0 22.5px;
    }

    @include screen('desktop-wide') {
      padding: 0 30px;
    }
  }
}
