.form {
  display: block;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;

      @include screen('tablet') {
        margin-bottom: 32px;
      }

      @include screen('desktop') {
        margin-bottom: 36px;
      }
    }

    &.error-label {

      .form__label_desktop .form__text {
        color: $color-red;
      }
    }
  }

  &__label {
    width: 100%;

    @include screen('tablet') {
      width: (2/7)*100%;
    }

    &_desktop {
      @include screen('tablet', max) {
        display: none;
      }
    }

    &_nohide {
      display: block;

      @include screen('tablet', max) {
        margin-bottom: 20px;
      }
    }

    &_mobile {
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      box-sizing: border-box;

      @include screen('tablet') {
        display: none;
      }

      .form__text {
        @include screen('tablet', max) {
          @include ellipsis(100%);
        }
      }
    }
  }

  &__text {
    width: 100%;
    display: inline-block;
    padding-top: 9px;
    padding-right: 30px;

    @include text-small;
    line-height: 1.2;
    letter-spacing: .075em;
    text-transform: uppercase;
    transition: color $ease-main;

    @include screen('tablet') {
      padding-top: 12px;
    }

    @include screen('desktop') {
      padding-top: 8px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include screen('tablet') {
      width: (5/7)*100%;
    }
  }

  &__field {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    @include screen('tablet') {
      padding-left: 10px;
    }

    @include screen('desktop') {
      padding-left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include screen('tablet') {
        margin-bottom: 32px;
      }

      @include screen('desktop') {
        margin-bottom: 36px;
      }
    }

    &.js-floating-label {
      @include screen('tablet', max) {
        margin-top: 0;
        transition: margin $ease-main;
        transition-delay: .15s;
      }

      .form__label {
        transition: all $ease-main;
      }
    }

    &.is-top {
      @include screen('tablet', max) {
        margin-top: 25px;
      }

      .form__label {
        transform: translateY(-25px) translateZ(0);
      }

      .form__text {
        @include text-smallest;
      }

      .input, .textarea, .choices__inner {
        border-color: $color-basic;
      }
    }

    &.error {

      .input, .textarea, .choices__inner {
        border-color: $color-red;
      }

      .form__label_mobile .form__text {
        color: $color-red;
      }
    }
  }

  &__button {
    margin-top: 18px;
    width: 100%;
  }

  &__mark {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 12px;
    right: 0;
    width: 24px;
    height: 24px;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 12px;
    height: 18px;
    fill: $color-red;
  }

  .input {
    padding-right: 32px;
  }

  .textarea {
    padding-right: 0;
  }

  .input, .textarea {
    &:invalid {
      outline: none;
      box-shadow: none;
    }

    &::placeholder, .choices__placeholder {
      @include screen('tablet', max) {
        color: transparent;
      }
    }
  }

  .textarea {
    &::placeholder {
      @include screen('tablet', max) {
        font-size: 0;
      }
    }
  }
}
