/* Образец подключения шрифта
@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: 400;
  src: url('webfont.eot');
  src:
    url('webfont.eot?#iefix') format('embedded-opentype'),
    url('webfont.woff2') format('woff2'),
    url('webfont.woff') format('woff'),
    url('webfont.otf')  format('opentype'),
    url('webfont.ttf')  format('truetype'),
    url('webfont.svg#webfont') format('svg');
}
*/

@font-face {
  font-family: 'PFDinTextCompPro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/PFDinTextCompPro-Light.eot');
  src:
    url('../fonts/PFDinTextCompPro-Light?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinTextCompPro-Light.woff2') format('woff2'),
    url('../fonts/PFDinTextCompPro-Light.woff') format('woff'),
    url('../fonts/PFDinTextCompPro-Light.ttf')  format('truetype'),
    url('../fonts/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
}

@font-face {
  font-family: 'PFDinTextCompPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PFDinTextCompPro-Regular.eot');
  src:
    url('../fonts/PFDinTextCompPro-Regular?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
    url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'),
    url('../fonts/PFDinTextCompPro-Regular.ttf')  format('truetype'),
    url('../fonts/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
}

@font-face {
  font-family: 'PFDinTextCompPro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/PFDinTextCompPro-Medium.eot');
  src:
    url('../fonts/PFDinTextCompPro-Medium?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
    url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'),
    url('../fonts/PFDinTextCompPro-Medium.ttf')  format('truetype'),
    url('../fonts/PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium') format('svg');
}

/* Соответствие письменного названия жирности числовому значению
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/
