@mixin link {
  color: $color-red;
  border: 0;
  border-color: $color-red;
  transition: opacity $ease-main;

  &:hover { opacity: .5;}
}

@mixin link-white {
  color: $color-basic;
  border-color: $color-basic;
}

@mixin link-disabled {
  color: $color-border;
}

@mixin link-dashed {
  border-bottom: 2px dashed;
}
