mixin video-bg()
  +b.video-bg&attributes(attributes)
    +e.VIDEO.video(poster="assets/images/video_poster.jpg" preload="auto" autoplay muted)
      +e.SOURCE(src="assets/video/opt_video.mp4" type="video/mp4")
    +e.IMG(src="assets/images/video_poster.jpg").poster
