.search {
  display: block;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  @include screen('phone', max) {
    width: 220px;
  }

  @include screen('tablet') {
    padding: 0 45px;
  }

  @include screen('desktop-wide') {
    padding: 0 60px;
  }

  &__input {
    display: block;
    font-size: $size-bigger;
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-bottom: none;
    caret-color: $color-red;
    line-height: 1;
    min-height: 90px;

    @include screen('phone') {
      min-height: 0;
    }

    @include screen('tablet') {
      font-size: $size-larger;
    }

    @include screen('desktop') {
      padding: 0;
    }

    &::placeholder {
      position: relative;
      top: -22px;
      white-space: pre-line;
      color: rgba($color-basic, .2);

      @include screen('phone') {
        top: 0;
      }
    }
  }
}
