.search-popup {

  &__form {

  }

  .popup__content {
    padding: 35px 0;

    @include screen('phone') {
      padding: calc(25vh - 36px) 0;
    }
  }

  &__result {
    position: relative;
    display: none;
    width: 100%;
    margin-top: 32px;
    margin-bottom: auto;
    flex: 1;

    @include screen('phone') {
      margin-top: 50px;
      margin-bottom: 25px;
    }
  }

  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &.active {
      z-index: 10;
    }
  }

  &__trainers {
    display: none;
    margin: 0 auto;
    width: calc(100% - 20px);

    @include screen('phone') {
      width: 75vw;
    }
  }

  &__not-found {
    display: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 110px;

    @include text;
    font-weight: 300;
    letter-spacing: .02em;
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    svg {
      width: 16px;
      height: 16px;
      fill: rgba($color-basic, .36);
    }
  }

  .is-focused ~ .popup__info {
    color: $color-warm-gray;
  }
}
