.logo {
  display: inline-block;

  &__image {
    width: 78px;
    height: 46px;

    @include screen('tablet') {
      width: 101px;
      height: 60px;
    }
  }

  &_footer {

    .logo {

      &__image {
        width: 78px;
        height: 46px;
      }
    }
  }
}
