.social {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0;
  width: 24px;
  height: 24px;
  transition: all $ease-main;

  &:hover {
    opacity: .5;
  }

  &__icon {
    fill: $color-basic;

    &_vk {
      width: 22px;
      height: 12px;
    }

    &_fb {
      width: 9px;
      height: 19px;
    }

    &_instagramm {
      width: 20px;
      height: 20px;
    }
  }

  .socials_big & {
    width: 28px;
    height: 28px;

    &__icon {
      &_vk {
        width: 28px;
        height: 16px;
      }

      &_fb {
        width: 12px;
        height: 26px;
      }

      &_instagramm {
        width: 24px;
        height: 24px;
      }
    }
  }
}
