.social {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0;
  width: 24px;
  height: 24px;
  transition: all $ease-main;

  &:hover {
    opacity: .5;
  }

  &__icon {
    fill: $color-basic;

    &_vk {
      width: 22px;
      height: 12px;
    }

    &_fb {
      width: 9px;
      height: 19px;
    }

    &_instagramm {
      width: 20px;
      height: 20px;
    }
  }

  .socials_big & {
    width: 24px;
    height: 24px;

    @include screen('tablet') {
      width: 28px;
      height: 28px;
    }

    @include screen('desktop') {
      width: 24px;
      height: 24px;
    }

    @include screen('desktop-wide') {
      width: 28px;
      height: 28px;
    }

    &__icon {
      &_vk {
        width: 22px;
        height: 12px;

        @include screen('tablet') {
          width: 28px;
          height: 16px;
        }

        @include screen('desktop') {
          width: 22px;
          height: 12px;
        }

        @include screen('desktop-wide') {
          width: 28px;
          height: 16px;
        }
      }

      &_fb {
        width: 9px;
        height: 19px;

        @include screen('tablet') {
          width: 12px;
          height: 26px;
        }

        @include screen('desktop') {
          width: 9px;
          height: 19px;
        }

        @include screen('desktop-wide') {
          width: 12px;
          height: 26px;
        }
      }

      &_instagramm {
        width: 20px;
        height: 20px;

        @include screen('tablet') {
          width: 24px;
          height: 24px;
        }

        @include screen('desktop') {
          width: 20px;
          height: 20px;
        }

        @include screen('desktop-wide') {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
