.page-title {
  position: relative;
  display: block;
  margin-top: 86px;

  @include screen('tablet', max) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 138px;
  }

  @include screen('tablet') {
    margin-top: calc(25vh - 8px);
    margin-bottom: 0;
  }

  @include screen('desktop') {
    margin-bottom: 24px;
  }

  @include screen('desktop-wide') {
    margin-bottom: 46px;
  }

  &__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    @include heading-1;
  }

  &__addition {
    @include screen('tablet', max) {
      order: 1;
      margin-bottom: 6px;
    }

    @include screen('tablet') {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 (1/8)*100vw;
    }

    &-col-left {
      @include screen('tablet', max) {
        display: none;
      }

      @include screen('desktop', max) {
        width: (1/3)*100%;
      }
    }

    &-col-right {
      @include screen('tablet', max) {
        width: 100%;
      }

      @include screen('desktop', max) {
        width: (2/3)*100%;
      }

      .stylized-select {

        @include screen('tablet') {
          position: relative;
          right: -6.25vw;
        }
      }
    }
  }

  &_catalog {

    .container__inner {

      @include screen('tablet', max) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &_catalog & {

    &__text {
      width: 100%;

      @include screen('tablet', max) {
        order: 2;
      }

      @include screen('tablet') {
        max-width: 25vw;
      }
    }
  }
}
