extends ../../layouts/default

block head
  - var pageTitle = 'Protrener - Новости'

block content
  +page-title('Новости')
  +page-section.news
    +col(24).container__inner
      +grid-list.js-mix
        +e.LI.item
        +e.LI.item
        +e.LI.item
        +e.LI.item
      .allnews
        +news-card('', '12.05.17')(href="news-page.html")._noimage Эквадорский игрок из &laquo;Зенита&raquo; шокирован российскими морозами и&nbsp;снегом
        +news-card('assets/images/brand_wall_2.jpg', '03.05.17')(href="news-page.html") Стартует Кубок шести наций по регби
        +news-card('assets/images/brand_wall_6.jpg', '03.05.17')(href="news-page.html") Стал известен знаменосец россиян на открытии Олимпиады
        +news-card('', '12.05.17')(href="news-page.html")._noimage Возняцки победила Халеп в финале Australia Open
        +news-card('assets/images/brand_wall_7.jpg', '03.05.17')(href="news-page.html") МОК объяснил недопуск оправданных CAS россиян
        +news-card('assets/images/brand_wall_4.jpg', '03.05.17')(href="news-page.html") МОК объяснил недопуск оправданных CAS россиян
        +news-card('', '12.05.17')(href="news-page.html")._noimage Кубок чемпионата мира по футболу Кубок мира по футболу на несколько часов привезли в Киргизию
        +news-card('', '12.05.17')(href="news-page.html")._noimage Судебная победа российских спортсменов
        +news-card('', '12.05.17')(href="news-page.html")._noimage Болельщики ЦСКА ЦСКА запросил у&nbsp;&laquo;Црвены Звезды&raquo; 1200 билетов на&nbsp;гостевой матч Лиги Европы
        +news-card('assets/images/brand_wall_5.jpg', '03.05.17')(href="news-page.html") Стартует Кубок шести наций по регби
