.content-zone {

  h1 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-1;
  }

  h2 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-2-text;
  }

  h3 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-3;
  }

  h4 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-4;
  }

  h5 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-5;
  }

  h6 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-6;
  }

  p {

    &:not(:last-child) {
      margin-bottom: 32px;

      @include screen('tablet') {
        margin-bottom: 35px;
      }
    }

    small {
      display: block;

      @include text-small;
    }

    @include text;
    font-weight: 300;
    letter-spacing: .02em;
    line-height: 1.45;
  }

  blockquote {
    margin: 0;
    padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol { @include list; }

  ul { @include ullist; }

  ol { @include ollist; }

  a { @include link; }
}
