.success-popup {
  display: block;

  &__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include text;
    text-align: center;
    font-weight: 300;
    letter-spacing: .02em;
    width: calc(100% - 20px);
    margin: 0 auto;
    box-sizing: border-box;

    @include screen('phone') {
      width: calc(100% - 60px);
    }
  }

  &__decoration {
    position: relative;
    width: auto;
    padding: 40px 20px;
    max-width: 562px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 35px;

    @include screen('phone') {
      padding: 40px 60px;
    }

    @include screen('tablet') {
      padding: 50px 80px;
    }
  }

  &__contacts {
    padding: 0 20px;
    max-width: 562px;
    box-sizing: border-box;

    @include screen('phone') {
      padding: 0 40px;
    }

    @include screen('tablet') {
      padding: 0 50px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    z-index: -1;
  }
}
