mixin banner()
  +b.A.banner(href="add-trainer.html")&attributes(attributes)
    +e.bg
      +e.IMG(src='assets/images/banner_hor.jpg').image
    +e.content
      +e.text Стать
        +e.BR
        | тренером
      +icon('pluslg').icon
