.banner {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 48.8%;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-basic;
  transform-origin: right bottom;

  @include heading-2;
  line-height: 1;
  letter-spacing: .033em;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

  &__image {
    @include fill-img;
    transition: all .5s ease-in-out;
    transform: scale(1);
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 40px 36px;
    z-index: 2;
    transition: all .5s ease-in-out;
    background-color: rgba($color-main, .2);
  }

  &__text {
    margin-right: auto;

    @include screen('phone') {
      margin-left: auto;
      margin-right: 74px;
    }
  }

  &__icon {
    min-width: 19px;
    width: 19px;
    height: 19px;
    fill: $color-red;
    margin-bottom: 4px;
  }

  &:hover {

    .banner {

      &__image {
        transform-origin: left;
        transform: scale(1.1);
      }
    }
  }

  &_small {
    @include screen('tablet') {
      display: none;
    }
  }

  &_vertical & {

    &__content {

      @include screen('tablet') {
        padding: 0 32px 36px;
      }

      @include screen('desktop') {
        padding: 0 35px 36px;
      }

      @include screen('desktop-wide') {
        padding: 0 48px 40px;
      }
    }

    &__text {
      @include screen('tablet') {
        margin-right: 68px;
      }

      @include screen('desktop') {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  &_fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 72px;
    padding-top: 0;

    @include screen('tablet', max) {
      z-index: 15;
    }

    @include screen('tablet') {
      width: (1/4)*100vw;
      height: 28vh;
    }

    .banner {

      &__content {
        padding: 0 (1/16)*100vw;
        background: rgba($color-black, .1);
        align-items: center;

        @include screen('tablet') {
          padding: (1/32)*100vw (1/32)*100vw calc((1/32)*100vw + 19px);
          flex-direction: column-reverse;
          justify-content: flex-end;
          align-items: flex-end;
        }
      }

      &__text {
        @include text-small;
        display: inline-block;
        font-weight: 500;

        @include screen('tablet') {
          @include heading-2;

          line-height: 1.1;
          margin-top: auto;
          margin-right: 0;
          margin-left: 0;
          padding-top: 4px;
          padding-bottom: 4px;
        }

        @include screen('desktop') {
          margin-left: 50%;
          margin-right: auto;
          margin-bottom: auto;
        }

        @include screen('desktop-wide') {
          padding-left: 14px;
        }

        br {
          @include screen('tablet', max) {
            display: none;
          }
        }
      }
    }
  }
}
