.text-section {
  display: block;
  margin-bottom: 36px;
  width: 100%;

  @include screen('tablet') {
    margin-bottom: 54px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @include heading-2m;
    font-weight: 500;
    width: 100%;
    margin-bottom: 18px;

    @include screen('tablet') {
      margin-bottom: 40px;
    }

    span {
      margin-right: auto;
    }

    &_icon {
      margin-bottom: 12px;

      @include screen('tablet') {
        margin-bottom: 40px;
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: $color-red;
    margin-left: 20px;
  }

  &__content {
    @include text;
    font-weight: 300;
    width: 100%;
    line-height: 1.42;
    letter-spacing: .02em;

    p {
      width: 100%;
    }
  }
}
