mixin text-section(title)
  +b.SECTION.text-section&attributes(attributes)
    +e.H3.title
      +e.SPAN!= title
    +e.content
      block

mixin text-section-icon(title, ico)
  +b.SECTION.text-section&attributes(attributes)
    +e.H3.title_icon
      +e.SPAN!= title
      +icon(ico).icon
    +e.content
      block
