.avatar {
  position: relative;
  display: block;
  width: 54px;
  height: 54px;
  overflow: hidden;
  border-radius: 50%;
  background: $color-black;

  &__image {
    @include fill-img;
  }

  &_big {
    width: 120px;
    height: 120px;
  }
}
