include ../blocks/accordion/accordion
include ../blocks/avatar/avatar
include ../blocks/banner/banner
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/brushes/brushes
include ../blocks/button/button
include ../blocks/contacts/contacts
include ../blocks/container/container
include ../blocks/container/container
include ../blocks/content-zone/content-zone
include ../blocks/copyright/copyright
include ../blocks/data-block/data-block
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link-list/link-list
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/loading/loading
include ../blocks/logo/logo
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/navigation-link/navigation-link
include ../blocks/page-section/page-section
include ../blocks/page-title/page-title
include ../blocks/phone/phone
include ../blocks/popups/popups
include ../blocks/rating/rating
include ../blocks/search-button/search-button
include ../blocks/search/search
include ../blocks/slider/slider
include ../blocks/social/social
include ../blocks/socials/socials
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/text-section/text-section
include ../blocks/up-button/up-button
include ../components/footer/footer
include ../components/header/header
include ../components/search-popup/search-popup
include ../components/trainer/trainer
include ../components/trainers-list/trainers-list
include ../components/ui-kit/ui-kit
include ../components/user-describe/user-describe
include ../components/user-info/user-info