include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  body
    .wrapper
      block up
      +header(true)._abs
      main.page-content#content
        block content
      +footer
    +popups
      +search-popup#search
      block popup
    script(src='assets/scripts/libs/ResizeSensor.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
