include _externalIncludes
include _internalIncludes

doctype html
html.no-js(lang='ru')
  include head
  body
    .wrapper.wrapper_onescreen
      +video-bg
      .valve
      main.page-content.page-content_onescreen
        +header(false, true)._abs
        .content#content
          block content
        +brushes._layers
        +footer-contacts(true)._fixed
    +popups
      +search-popup#search
    script(src='assets/scripts/libs/ResizeSensor.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
