.user-describe {
  position: relative;
  display: block;
  background: $color-main;
  z-index: 2;

  &:not(:first-child) {
    padding-top: 40px;

    @include screen('tablet') {
      padding-top: 66px;
    }

    @include screen('desktop') {
      padding-top: 50px;
    }

    @include screen('desktop-wide') {
      padding-top: 60px;
    }
  }

  &__navigation {
    @include screen('tablet', max) {
      display: none;
    }

    .link-list {
      @include screen('tablet', max) {
        display: none;
      }
    }
  }

  &__content {
    @include screen('tablet', max) {
      width: 28*$grid-col-width;
    }
  }
}
