.user-describe {
  position: relative;
  display: block;
  background: $color-main;
  z-index: 2;

  &__navigation {
    @include screen('tablet', max) {
      display: none;
    }
  }

  &__content {
    @include screen('tablet', max) {
      width: 28*$grid-col-width;
    }
  }
}
