mixin user-describe()
  +page-section.user-describe__&attributes(attributes)
    +col(8).user-describe__navigation
      .js-sidebar
        .js-sidebar-inner
          +link-list(getData('sections'), true)
    +col(16).user-describe__content
      +text-section-icon('Регалии', 'laurel')(id="regalia")
        +e.P Действующий профессиональный спортсмен, мастер спорта. Лучший рейтинг АТР (965- в&nbsp;парном разряде)
      +text-section('Достижения')(id="achievments")
        +e.P Победитель и призер Всероссийских и международных турниров, среди которых:
          +e.BR
          | 1-е место на Чемпионате Москвы в парном разряде(2008, 2017&nbsp;гг.),
          +e.BR
          | 2-е место на Кубке России (в парном разряде 2013&nbsp;г)
          +e.BR
          | и 3-е в смешанном (2012&nbsp;г)
      +text-section('Опыт работы')(id="experience")
        +e.P Большой опыт работы с детьми разного возраста (более 12&nbsp;лет), а также более 5&nbsp;лет совместной работы с&nbsp;заслуженным тренером России Виктором Николаевичем Янчуком при подготовке спортсменов и&nbsp;детей самого высокого уровня.
      +text-section('Воспитанники')(id="inmates")
        +e.P Тренер-спарринг Дарьи Гавриловой&nbsp;( 1й&nbsp;номер в&nbsp;рейтинге ITF), спарринг-партнер Анны Чакветадзе&nbsp;( 5й&nbsp;номер WTA), Анны Лапушенковой (93й номер WTA), Веры Душевиной (31й номер WTA), Яны Бучиной (11й номер ITF, финалистка US&nbsp;OPEN juniors). Среди воспитанников Евгений Елистратов- действующий мастер спорта, входящий в&nbsp;состав резервной сборной России. На&nbsp;данным момент и&nbsp;на&nbsp;протяжении уже 5&nbsp;лет веду Ярославу Барташевич 1-й номер 13&nbsp;лет и&nbsp;моложе в&nbsp;рейтинге России.
      +text-section('Образование')(id="education")
        +e.P Два высших образования. 1-е МИСИС, инженер в&nbsp;области автоматизации процессов цветной металлургии , окончание 2010 год и&nbsp;2-е высшее Спортивное образование МГАФК, тренер по&nbsp;теннису , окончание 2017 год
