mixin socials()
  +b.UL.socials&attributes(attributes)
    +e.LI.item
      +social('vk')(href="https://www.vk.com" title="ВКонтакте")
    +e.LI.item
      +social('fb')(href="https://www.facebook.com" title="Facebook")
    +e.LI.item
      +social('instagramm')(href="https://www.instagramm.com" title="Instagramm")

mixin socials4()
  +b.UL.socials&attributes(attributes)
    +e.LI.item
      +social('vk')(href="https://www.vk.com" title="ВКонтакте")
    +e.LI.item
      +social('fb')(href="https://www.facebook.com" title="Facebook")
    +e.LI.item
      +social('instagramm')(href="https://www.instagramm.com" title="Instagramm")
    +e.LI.item
      +social('telegram')(href="https://www.telegram.com" title="Telegram")
