.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;

  &__item {

    &:not(:last-child) {
      margin-right: 29px;
    }
  }

  &_vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include screen('tablet') {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .socials {

      &__item {
        &:not(:last-child) {
          margin-bottom: 29px;
          margin-right: 0;

          @include screen('tablet') {
            margin-right: 29px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
