.socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;

  @include screen('tablet') {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 29px;

      @include screen('tablet') {
        margin-right: 29px;
        margin-bottom: 0;
      }
    }
  }
}
