.add-trainer {
  display: block;
  margin-bottom: 80px;

  @include screen('tablet') {
    margin-bottom: 117px;
  }

  &:not(:first-child) {
    padding-top: 25px;

    @include screen('tablet') {
      padding-top: 35px;
    }

    @include screen('desktop-wide') {
      padding-top: 5px;
    }
  }

  .container__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__title {
    @include heading-2m;
    margin-bottom: 20px;

    @include screen('tablet') {
      margin-bottom: 45px;
    }

    @include screen('desktop-wide') {
      margin-bottom: 50px;
    }

    line-height: 1;

    br {
      @include screen('tablet', max) {
        display: none;
      }
    }
  }

  &__request {
    width: 100%;
    box-sizing: border-box;
    order: 2;

    @include screen('tablet') {
      width: (7/12)*100%;
      padding-right: 32px;
      order: 1;
    }

    @include screen('desktop') {
      padding-right: 0;
    }

    .form {
      @include screen('tablet', max) {
        margin-top: 20px;
      }
    }
  }

  &__conditions {
    width: 100%;
    box-sizing: border-box;
    order: 1;
    margin-bottom: 46px;

    @include screen('tablet') {
      margin-bottom: 0;
      padding-left: (1/12)*100%;
      width: (5/12)*100%;
      order: 2;
    }

    .content-zone {
      @include screen('tablet') {
        padding-top: 5px;
      }

      @include screen('desktop') {
        padding-top: 0;
      }
    }
  }
}
