.grid-list {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0;

  @include screen('phone') {
    margin: 0 -22.5px 0;
  }

  @include screen('desktop-wide') {
    margin: 0 -30px 0;
  }

  &__item {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    align-self: flex-start;

    @include screen('phone') {
      width: 50%;
      padding: 0 22.5px 0;
    }

    @include screen('tablet') {
      width: 33.33%;
    }

    @include screen('desktop') {
      width: 25%;
    }

    @include screen('desktop-wide') {
      padding: 0 30px 0;
    }
  }

  &.js-mix {

    .grid-list__item {

      @include screen('phone', max) {
        &:not(:first-child) {
          display: none;
        }
      }

      @include screen('tablet', max) {
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }

      @include screen('desktop', max) {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
